# Pandas Assignment

In [ ]:
import pandas as pd

## 1. Create a DataFrame with given data

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}

df = pd.DataFrame(data)

# a. First five rows
print("DataFrame:")
print(df.head())

# b. Summary statistics of Age and Salary
print("\nSummary statistics:")
print(df[['Age', 'Salary']].describe())

# c. Average salary in HR department
avg_salary_hr = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage salary in HR department:", avg_salary_hr)

## 2. Add a new column 'Bonus' (10% of Salary)

In [ ]:
df['Bonus'] = df['Salary'] * 0.10
print(df)

## 3. Filter employees aged between 25 and 30

In [ ]:
filtered = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print(filtered)

## 4. Group by Department and calculate average salary

In [ ]:
dept_avg_salary = df.groupby('Department')['Salary'].mean()
print(dept_avg_salary)

## 5. Sort by Salary and save to CSV

In [ ]:
sorted_df = df.sort_values(by='Salary', ascending=True)
print(sorted_df)

# Save to CSV
sorted_df.to_csv("pandas_assignment_sorted.csv", index=False)